body {
    padding: 10px;
}
.listening {
    padding: 20px;
    border-width: 1px;
    border-style: solid;
    margin: 5px;
}
.navigation{
    background-color: #6F0505;
    color: white;
}
.messages{
    color: green;
}
.comment{
    padding: 20px;
    border-width: 1px;
    border-style: solid;
    margin: 5px;
    background-color: grey;
    color: lavender;
}