{% extends "auctions/layout.html" %}
{% load static %}

{% block body %}
    <h2>Choose category</h2>

        {% if messages %}
        <div class="messages">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </div>
        {% endif %}

            
        {% for n in categories %}
            <li><a href="{% url 'categories_choose' n.id %}">{{n.name}}</a></li>
        {% endfor %}
        

                

               
{% endblock %}