{% extends "auctions/layout.html" %}
{% load static %}

{% block body %}
<div class="container">
    <!-- Content here -->
  
    <h2>Active Listings</h2>

    <ul>

        {% for auction in auctions %}
        <a href="{% url 'listing' auction.id %}">
            <div class="listening">

                {% for n in auction.photos.all %}
                    <img src="{% static n.url %}" width="250" height="250">
                {% endfor %}

                <h3>{{auction.name}}</h3>
                    
                
                <li>
                    Starting price: {{auction.price}}
                </li>
                <li>
                    Highest Bid: {{auction.current_bid}}
                </li>
                <li>
                    Date of creation: {{auction.creation_date}}
                </li>

                {% if user.is_authenticated %}
                    <a href="{% url 'watchlist_add' auction.id %}">Add to Watch List</a>
                {% endif %}
            </div>
        </a>
            
        {% endfor %}
    </ul>   
</div>
{% endblock %}