{% extends "auctions/layout.html" %}
{% load static %}

{% block body %}
    <h2>Active Listing</h2>

            <div class="listening">

                {% for n in listing.photos.all %}
                    <img src="{% static n.url %}" width="250" height="250">
                {% endfor %}
                

                {% if message %}
                    <div>{{ message }}</div>
                {% endif %}


                <h3>{{listing.name}}</h3>
                    
                
                <li>
                    Starting price: {{listing.price}}
                </li>
                <li>
                    Date of creation: {{listing.creation_date}}
                </li>
                <li>
                    Current bid: {{listing.current_bid}}
                </li>
                {% if user.is_authenticated %}
                    <a href="{% url 'watchlist_add' listing.id %}">Add to Whish List</a>
                {% endif %}
                

                <form action="{% url 'bid' %}" method="POST">
                    {% csrf_token %}
                    <input type="number" name="bid">Bid the price</input>
                    <input type="hidden" name="auction_id" value="{{listing.id}}"></input>
                    <input type="submit" value="Add">
                </form>

            </div>
            
{% endblock %}